@model IEnumerable<Store.Models.ViewModels.Shop.CategoryVM>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>
@if (TempData["SM"] != null)
{
    <div class="alert alert-success" id="addCatSuccess">
        @TempData["SM"]
    </div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" id="addCatFail">
        @TempData["Error"]
    </div>
}
<div  class="alert alert-success" id="succes" hidden></div>
@*<div class="new-cat">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Category Name</span>
            </div>
            <input type="text" id="newcatname" class="form-control" />
        </div>
        <p>
            <a href="#" id="newcata" class="btn btn-success"> Add a new category. </a>
            <span class="ajax-text">
                <img src="~/Content/Images/ajax-loader.gif" height="50" />
            </span>
        </p>
    </div>*@
@using (Html.BeginForm("AddNewCategory", "Shop", FormMethod.Post))
{

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Category Name</span>
        </div>
        <input type="text" name="Name" class="form-control" />
    </div>
    <div>

        <input type="submit" value="Addd new category" class="btn btn-success"  />
    </div>

}
@if (!Model.Any())
{
    <h1 class="text-center" There are no categories.></h1>
}
else
{
    <table class="table" id="tablepage">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="id_@item.Id">               
                <td>                  
                    <input type="text" name="Name" class="form-control" readonly="readonly" id="@item.Id" value="@item.Name" />
                </td>

                <td>
                    <input type="button" value="Edit" class="btn btn-success" data-value="@item.Id" />
                    @Html.ActionLink("Delete", "DeleteCategory", new { id = item.Id }, new { @class = "delete btn btn-danger" })
                    <div id="res"></div>
                </td>
            </tr>
        }

    </table>
}

@section Scripts
{
    <script type="text/javascript" >
       $(function () {

    // Confirm product delete
    var table = $("table#pages tbody");
    var originalTextBoxValue;
    $("a.delete").click(function () {
        if (!confirm("Confirm product deletion")) return false;
    });
    $(document).ready(function () {

        $("table#tablepage :button").click(function () {
            var input_text_id = $(this).attr("data-value");
            var input_id = "#" + input_text_id;
            if ($(this).val() == "Edit") {
                //Get input and remove Readonly
                $(input_id).attr("readonly", false);
                //Set Value to Save
                $(this).val("Save");
            } else {
                var input_text = $(input_id).val();                          
                $(input_id).attr("readonly", true);
                $(this).val("Edit");
                $(this).load('@Url.Action("EditCategory","Shop")?name=' + input_text + '&id=' + input_text_id, function (response, status, xhr) {                  
                    if (status == "error") {
                        var msg = "Sorry but there was an error: ";
                        $("#error").html(msg + xhr.status + " " + xhr.statusText);
                    } else
                        if (response == "ok") {
                        msg = "The category name has been changed!";
                        $("#succes").html(msg);
                        $("#succes").attr("hidden", false);
                        setTimeout(function () { $("#succes").attr("hidden", true); }, 1000);
                    }
                });
            }
        });
        setTimeout(function () { $('#addCatSuccess').attr("hidden", true) }, 1000);
        setTimeout(function () { $('#addCatFail').attr("hidden", true) }, 1000);


    });
    $()
});
    </script>
}